@model Study_Tracker.Models.Module

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.moduleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.moduleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classHoursPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classHoursPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursStudiedThisWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursStudiedThisWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semesterNumOfWeeks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semesterNumOfWeeks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semesterStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semesterStartDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="moduleCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
